@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FDFDFD];
}

@layer components {
  .custom-triangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 45px solid #fed7aa;
  }

  .active-link {
    @apply absolute bottom-0 -right-2 w-full border-b-2 border-black shadow-lg transition-all duration-200 ease-in-out;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
