@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg max-w-[1550px] mx-auto selection:bg-black selection:text-white text-slate-900;
}

@layer components {
  .custom-triangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 45px solid #fed7aa;
  }

  .active-link {
    @apply absolute bottom-0 -right-2 w-full border-b-2 border-black shadow-lg transition-all duration-200 ease-in-out;
  }

  /* hides scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar.overflow-auto {
    scrollbar-width: none; /* Firefox */
  }

  .link {
    @apply relative overflow-hidden text-slate-900;
  }

  .link::after {
    content: "";
    transform: scaleX(0);
    @apply bg-slate-100 absolute top-0 left-0 w-full h-full origin-left transition-all duration-300 ease-in-out -z-10;
  }

  .link:hover::after {
    transform: scaleX(1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
