@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg max-w-[1550px] mx-auto selection:bg-black selection:text-white text-slate-900;
}

@layer components {
  .custom-triangle {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 45px solid #fed7aa;
  }

  .active-link {
    @apply absolute bottom-0 -right-2 w-full border-b-2 border-black shadow-lg transition-all duration-200 ease-in-out;
  }

  /* hides scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar.overflow-auto {
    scrollbar-width: none; /* Firefox */
  }

  .link {
    @apply relative overflow-hidden text-slate-900;
  }

  .link::after {
    content: "";
    transform: scaleX(0);
    @apply bg-slate-100 absolute top-0 left-0 w-full h-full origin-left transition-all duration-300 ease-in-out -z-10;
  }

  .link:hover::after {
    transform: scaleX(1);
  }

  /* Loader styles start */
  .loader,
  .loader {
    @apply relative size-20;
  }
  .loader div {
    @apply absolute left-2 w-4 bg-slate-300;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loader div:nth-child(1) {
    @apply left-2;
    animation-delay: -0.24s;
  }
  .loader div:nth-child(2) {
    @apply left-8;
    animation-delay: -0.12s;
  }
  .loader div:nth-child(3) {
    @apply left-14;
    animation-delay: 0s;
  }
  @keyframes loader {
    0% {
      @apply top-2 h-16;
    }
    50%,
    100% {
      @apply top-6 h-8;
    }
  }
  /* Loader styles end */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
